@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: #31abd8;
}

h1 {
    color: cornsilk;
}

img {
    max-width: 100%;
    height: auto;
}

.listHere {
    margin-bottom: 200px;
}

.fixed-bottom {
    background-color: white;
}
